<div class="navbar">
    <img src="css/CMS_logo.JPG" alt="logo" width="40px" height="40px">
    <a href="#home">Home</a>
    <a href="#cards">Cards</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <a href="/createblog">Add Blogs</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>

